.CvButtonContainer{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100%;
}

.downloadBtn {
  background-color: #415471; 
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
  
}

.downloadBtn:hover {
  background-color: #45a049;
}
